/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Yu Gothic UI", "Noto Sans",
Helvetica, Arial, sans-serif, system-ui, "Segoe UI", "Hiragino Sans", "Meiryo" !default;
$presentation-font-size-root: 24px !default;
$presentation-line-height: 1.4 !default;
$presentation-h1-font-size: 1.75em !default;
$presentation-h2-font-size: 1.35em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h4-font-size: 1.15em !default;


/*-- scss:rules --*/


h2 {
  position: relative;
  padding-bottom: 0.1em !important;
  margin-bottom: 1rem !important;
  border-bottom: 1px solid #ccc;
}

h2:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 20%;
  height: 1px;
  content: '';
  background: #444;
}

ol {
  margin-bottom: 0 !important; 
}



code {
  font-size: 0.875em;
  padding: 0.1em 0.2em;
}

pre {
  padding: 0.3em;
  width: auto !important;
}

pre.sourceCode {
  background-color: #f5f5f9;
}


pre code {
  background-color: transparent !important;
}

.title {
  text-align: center;
  padding-left: 1rem;
}

.sourceCode {
  margin-bottom: 3;
}

.reveal p {
  line-height: 1 !important;
}

img {
  margin-top: 0px !important;
}

/*-- scss:defaults --*/
$code-block-bg: #e3e3e3 !default; 